<div class="row justify-content-between">
<div class="col-md-8"  [class.col-md-12]="empty==0">


<div class="row justify-content-around">
    <div *ngFor="let produit of produits" class="card col-md-3" style="width: 18rem;">
        <img src="{{ produit.picture }}" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">{{ produit.title }}</h5>
           <app-detail-product  [category]="produit.category"  [time]="produit.time" [cookTime]="produit.cookTime" [level]="produit.level"  ></app-detail-product>
        </div>
          <button (click)="addWish(produit)" class="btn btn-success w-50 mx-auto mb-3">+</button>
    </div>
  
</div>
</div>
<div *ngIf="empty!==0" class="col-md-4">
    <div class="card">

        <table class="table">
            <thead>
              <tr class="w-100" >
                  <th colspan="5">
                <h5 class="text-center" >Ma WISHLIST</h5>
            </th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of wishList" >
               <td colspan="2" class="text-center" >{{ item.title }}</td>
                <td colspan="2" class="text-center" ><img width="40" src="{{ item.picture }}" alt=""></td>
                <td colspan="1" class="text-center" ><span (click)="removeWish(item.id)" class="btn btn-danger p-1">X</span></td>
              </tr>
        
            </tbody>
          </table>
    </div>
</div>
</div>