<form *ngIf="affiche=='add'"   #f="ngForm" (submit)="addCategory(f)"  >
    <div class="form-group">
      <label class="col-form-label mt-4" for="category">Nom de la catégorie</label>
      <input ngModel type="text" class="form-control" placeholder="Nom de la catégorie"  name="name" id="title">
    </div>

    <button type="submit" class="btn btn-primary mt-2">Enregistrer</button>
  
  
  </form>

  <form *ngIf="affiche=='edit'"   #f="ngForm" (submit)="updateCategory(f)"  >
    <div class="form-group">
      <label class="col-form-label mt-4" for="category">Nom de la catégorie</label>
      <input [(ngModel)]="category.name" type="text" class="form-control"   name="name" id="title">
    </div>
    <input [(ngModel)]="category.id" type="hidden" class="form-control"   name="id" id="title">

    <button type="submit" class="btn btn-primary mt-2">Enregistrer</button>
  
  
  </form>



  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Nom</th>
        <th scope="col">Actions</th>
    
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let category of categories" >
        <th scope="row">{{ category.id }} </th>
        <td>{{ category.name }}</td>
        
        <td><button (click)="update(category.id)" class="btn btn-warning">modifier</button>
            <button (click)="delete(category.id)" class="btn btn-danger">supprimer</button></td>
      </tr>
 
    </tbody>
  </table>
