img{
    width: 100%;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
}

h2{
    
    margin: 30px 0 30px 0;
}

.card{
    margin: auto;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.4);
    width: 30%;
    text-align: center;
    padding-bottom: 20px;
    border-radius: 7px;

}