
<!-- ici on injecte notre composant bonjour au seins de notre composant maitre app-root -->

<!-- notre h1 n'a pas pris ici le style déclaré dans notre bonjour.component.css, tout style généraliste à l'application devra être ecrit ou dans dans style.css à la racine ou dans le app.component.css  étant le composant maitre de notre application et étant prévu uniquement pour recevoir des injections de composants (par convention) -->
<h1>{{ title }}</h1>
<!-- <app-bonjour>


</app-bonjour> -->

<app-brownie ></app-brownie>


